.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 32px;
  margin-top: 0px;
  max-width: 690px;
  min-width: 288px;
}

@media screen and (max-width: 767px) {
  .intro__text {
    width: calc(100% - 2 * 16px);
  }
}
