.cover__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__text-container {
    min-width: 288px;
  }
}
